* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1260px;
  width: 100%;
  height: auto;
  font-family: "poppins", sans-serif;
  position: relative;
}

.container button {
  width: 220px;
  height: 65px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  background-color: #282e40;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1px;
  border: none;
}

@media screen and (max-width: 700px) {
  .container button {
    width: 180px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
  }
}

.container button:hover {
  background-color: #639ebe;
}

.container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 50px 25px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .container header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 10px 20;
  }
}

.container header::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  width: 75%;
  height: 25px;
  background-color: #282e40;
}

.container header .logo {
  cursor: pointer;
}

@media (max-width: 790px) {
  .container header .logo {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .container header .logo {
    width: 90px;
  }
}

.container header .logo img {
  width: 100%;
}

.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 790px) {
  .container header nav {
    width: 80%;
    background-color: #5293b7;
    padding: 10px 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .container header nav {
    width: 100%;
  }
}

.container header nav i {
  display: none;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 790px) {
  .container header nav i {
    display: inline-block;
  }
}

.container header nav i#cross-icon {
  display: none;
}

@media (max-width: 790px) {
  .container header nav ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    top: 40px;
    left: 0;
    padding: 0 10px;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 2;
  }
}

.container header nav ul.active {
  opacity: 1;
  visibility: visible;
}

.container header nav ul li {
  display: inline-block;
}

@media screen and (max-width: 790px) {
  .container header nav ul li {
    border-bottom: 1px solid #a8a5a5;
  }
}

.container header nav ul li a {
  display: block;
  line-height: 18px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding: 15px 30px;
}

@media (max-width: 890px) {
  .container header nav ul li a {
    padding: 15px 20px;
  }
}

.container header nav ul li a.active {
  color: #639ebe;
}

.container header nav ul li a:hover {
  color: #639ebe;
}

.container section {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container section#home {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .container section#home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 40px;
  }
}

@media screen and (max-width: 500px) {
  .container section#home {
    padding: 0 10px;
  }
}

.container section#home::before {
  content: "";
  position: absolute;
  left: -25%;
  width: 100%;
  height: 80vh;
  background-color: #282e40;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  z-index: -1;
}

@media (max-width: 950px) {
  .container section#home::before {
    left: -40%;
  }
}

@media screen and (max-width: 700px) {
  .container section#home::before {
    left: 0;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.container section#home .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.container section#home .content h1 {
  width: 80%;
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 850px) {
  .container section#home .content h1 {
    font-size: 50px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .container section#home .content h1 {
    font-size: 40px;
  }
}

.container section#home .content h1 span {
  font-size: 60px;
  color: #639ebe;
  display: block;
}

@media screen and (max-width: 700px) {
  .container section#home .content h1 span {
    font-size: 50px;
  }
}

.container section#home .content p {
  padding: 20px 0;
  width: 80%;
  line-height: 1.6;
}

.container section#home .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container section#home .image img {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .container section#home .image img {
    width: 70%;
    height: 100%;
  }
}

.container section#home button {
  position: absolute;
  bottom: 0;
  left: 5%;
}

@media screen and (max-width: 700px) {
  .container section#home button {
    left: 0;
  }
}

.container section#about {
  padding: 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 820px) {
  .container section#about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 600px) {
  .container section#about {
    padding: 50px 20px 30px;
  }
}

.container section#about .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.container section#about .content h2 {
  width: 100%;
  font-size: 45px;
  font-weight: 500;
}

@media screen and (max-width: 820px) {
  .container section#about .content h2 {
    font-size: 40px;
  }
}

.container section#about .content p {
  padding: 20px 0;
  width: 80%;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 820px) {
  .container section#about .content p {
    width: 90%;
    font-size: 16px;
  }
}

.container section#about .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container section#about .image img {
  width: 80%;
}

@media screen and (max-width: 820px) {
  .container section#about .image img {
    width: 70%;
  }
}

.container section#our-fruits {
  padding: 90px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  grid-gap: 30px;
  background: #282e40;
}

@media screen and (max-width: 900px) {
  .container section#our-fruits {
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    padding: 80px 50px;
  }
}

@media screen and (max-width: 750px) {
  .container section#our-fruits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 30px;
  }
}

.container section#our-fruits .heading {
  width: 100%;
  text-align: center;
  grid-column: 1/-1;
}

.container section#our-fruits .heading h2 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
}

.container section#our-fruits .card {
  width: 100%;
}

.container section#our-fruits .card img {
  width: 100%;
}

.container section#our-fruits .card h3 {
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
}

.container section#our-fruits .card p {
  margin-top: 10px;
  text-align: center;
  color: #12c6f4;
  font-weight: 300;
  font-size: 18px;
}

.container section#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .container section#banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container section#banner .content {
  width: 100%;
  max-height: 100%;
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 800px) {
  .container section#banner .content {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 350px) {
  .container section#banner .content {
    padding: 30px 20px;
  }
}

.container section#banner .content h2 {
  font-size: 75px;
  font-weight: 700;
  color: #12c6f4;
}

@media only screen and (max-width: 1092px) {
  .container section#banner .content h2 {
    font-size: 65px;
  }
}

@media screen and (max-width: 520px) {
  .container section#banner .content h2 {
    font-size: 45px;
  }
}

.container section#banner .content p {
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #000;
}

@media screen and (max-width: 700px) {
  .container section#banner .content p {
    font-size: 16px;
  }
}

.container section#banner .content button {
  margin-top: 30px;
}

.container section#banner .image {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .container section#banner .image {
    padding: 20px 0px 20px 50px;
  }
}

.container section#banner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container section#our-blog {
  padding: 10px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  background: #282e40;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .container section#our-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 125px;
  }
}

@media screen and (max-width: 600px) {
  .container section#our-blog {
    padding: 30px 80px;
  }
}

@media screen and (max-width: 500px) {
  .container section#our-blog {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 370px) {
  .container section#our-blog {
    padding: 30px 30px;
  }
}

.container section#our-blog .heading {
  width: 100%;
  text-align: center;
  grid-column: 1/-1;
}

.container section#our-blog .heading h2 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
}

.container section#our-blog .card {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media screen and (max-width: 800px) {
  .container section#our-blog .card {
    padding: 30px 0px;
  }
}

@media screen and (max-width: 600px) {
  .container section#our-blog .card {
    padding: 20px 0px;
  }
}

.container section#our-blog .card img {
  width: 100%;
}

.container section#our-blog .card .content {
  width: 100%;
  margin-top: -1px;
  background-color: #12c6f4;
  position: relative;
  overflow-x: clip;
  z-index: 1;
}

.container section#our-blog .card .content::before {
  width: 110%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: -5%;
  background: #12c6f4;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  z-index: -1;
}

.container section#our-blog .card .content h5 {
  text-align: center;
  font-size: 15px;
  z-index: 2;
  padding-bottom: 5px;
  color: #fff;
}

.container section#our-blog .card .content p {
  text-align: center;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  padding: 0 15px 5px 15px;
}

.container section#contact-us {
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .container section#contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
  }
}

@media screen and (max-width: 950px) {
  .container section#contact-us {
    padding: 40px 30px;
  }
}

.container section#contact-us .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container section#contact-us .image img {
  width: 130%;
}

.container section#contact-us .form {
  width: 100%;
  min-height: 100%;
}

.container section#contact-us .form form {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section#contact-us .form form h2 {
  font-size: 45px;
  font-weight: 500;
  color: #282e40;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .container section#contact-us .form form h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
  .container section#contact-us .form form h2 {
    font-size: 35px;
  }
}

.container section#contact-us .form form h2 span {
  color: #12c6f4;
  font-weight: bolder;
}

.container section#contact-us .form form input,
.container section#contact-us .form form textarea {
  background-color: #282e40;
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .container section#contact-us .form form input,
  .container section#contact-us .form form textarea {
    margin: 10px 0;
  }
}

.container section#contact-us .form form textarea {
  min-height: 100px;
}

.container section#contact-us .form form button {
  background-color: #639ebe;
}

@media screen and (max-width: 800px) {
  .container section#contact-us .form form button {
    margin: 20px 0px;
  }
}

.container section#contact-us .form form button:hover {
  background-color: #282e40;
}

.container .up-arrow {
  font-size: 25px;
  border-radius: 5px;
  background-color: #12c6f4;
  padding: 8px 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .up-arrow i {
  color: #fff;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */