* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1260px;
  width: 100%;
  height: auto;
  font-family: "poppins", sans-serif;
  position: relative;

  button {
    width: 220px;
    height: 65px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 65px;
    cursor: pointer;
    background-color: #282e40;
    transition: 0.4s;
    border-radius: 1px;
    border: none;
    &:hover {
      background-color: #639ebe;
    }
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -2%;
      top: 0;
      transform: skew(-30deg);
      width: 75%;
      height: 25px;
      background-color: #282e40;
    }
    .logo{
        cursor: pointer;
    }

    nav {
      ul {
        li {
          display: inline-block;

          a {
            line-height: 18px;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            padding: 15px 40px;

            &.active{
                color: #639ebe;
            }

            &:hover {
              color: #639ebe;
            }
          }
        }
      }
    }
  }

  section {
    width: 100%;
    height: 100vh;
    position: relative;

    &#home{
      padding: 0px 50px;  
      display: flex;

      &::before{
         content: '';
         position: absolute;
         left: -25%;
          width:100%;
          height: 80vh;
          background-color: #282e40;
          transform: skew(50deg);
          z-index: -1;
      }
   

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        
 
        h1 {
            width: 80%;
          font-size: 60px;
          font-weight: 700;

          span {
              font-size: 60px;
            color: #639ebe;
            display: block;
          }
        }
        p {
          padding: 20px 0;
          width: 80%;
          line-height: 1.6;
        }
      }
      .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }
      button {
        position: absolute;
        bottom: 0;
        left: 5%;
      }
    }

    &#about{
      padding: 90px 50px;  
      display: flex;
      
     
   

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #000;
        
 
        h2 {
          width: 100%;
          font-size: 45px;
          font-weight: 500;
        }
        p {
          padding: 20px 0;
          width: 80%;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
        }
      }
      .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }
 
    }

    &#our-fruits{
      padding: 90px 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 4fr;
      grid-gap: 30px;
      background: #282e40;

      .heading{
        width: 100%;
        text-align: center;
        grid-column: 1/-1;
        h2{
          font-size: 45px;
          font-weight: 500;
          color: #fff;
        }
      }
      .card{
        width: 100%;
        img{
          width: 100%;
        }
        h3{
          text-align: center;
          margin-top: 25px;
          font-size: 25px;
          line-height: 25px;
          color: #fff;
        }
        p{
          margin-top: 10px;
          text-align: center;
          color: #12c6f4;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
    &#banner{
      display: flex;

      .content{
        width: 100%;
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        h2{
          font-size: 75px;
          font-weight: 700;
          color: #639ebe;
        }
        p{
          font-weight: 300;
          font-size: 17px;
          line-height: 28px;
          color: #000;
        }
        button{
          margin-top: 30px;
        }
      }
      .image{
        width: 100%;
        height: 100%;
        background-image: url("/images/image-3.png");
       background-size: cover;
      }
    }
    &#our-blog{
      padding: 10px 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 4fr;
      background: #282e40;

      .heading{
        width: 100%;
        text-align: center;
        grid-column: 1/-1;
        h2{
          font-size: 45px;
          font-weight: 500;
          color: #fff;
        }
      }
      .card{
        width: 100%;
        height: 90%;
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        
        img{
          width: 100%;
        }
        .content{
          width: 100%;
          margin-top: -1px;
          background-color: #12c6f4;
          position: relative;
          
         
          // &::before{
          //   width: 110%;
          //   height: 50px;
          //   content: "";
          //   display: block;
          //   position: absolute;
          //   top: -30px;
          //   left: -5%;
          //   background: #12c6f4;
          //   transform: rotate(6deg);
          //  }
         
          h5{
            text-align: center;
            font-size: 15px;
            z-index: 2;
            padding-bottom: 5px;
            color: #fff;
          }
          p{
            text-align: center;
            color: #000;
            font-weight: 300;
            font-size: 15px;
            line-height: 23px;
            padding: 0 15px 2px 15px;
            z-index: 2;
          }
        }
      }
    }
  }
}
